# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives**
- List Popular Data Science Languages
- List Commonly Used Libraries For Data Science
- Demonstrate Arthimetic Applications or Expressions In Python
- Showcase How Markdown Cells Can Be Employed

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL(Structured Query Language)
4. Julia
5. JavaScript

### Some of the commonly used libraries used by data scientists include:
1. Pandas
2. NumPy
3. Scikit Learn
4. ggplot2
5. Stringr
6. Caret
7. TensorFlow

| Data Science Tools |
| ---------------- |
| Jupyter Notebooks  |
| Apache Zeppelin    |
| R Studio           |

### Below are a few examples of evaluating arthimetic expression in Python

In [3]:
# This is a simple arthimetic expression to multiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by divding by 60
200/60

3.3333333333333335

## Author
Seif El Din Mohamed